<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="col-8">
        <div class="row gy-2">
          <div class="col-4" *ngFor="let favs of myFavs">
            <div class="card shadow-lg" style="width: 250px">
              <img
                src="{{ favs.thumbnail }}"
                class="card-img-top object-fit-cover"
              />
              <div class="card-body">
                <h5 class="card-title">{{ favs.title }}</h5>
                <h6 class="card-title fs-6 text-secondary">
                  {{ favs.brand }}
                </h6>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <p>{{ favs.price }} €</p>
                <a
                  href="#"
                  class="btn text-light mx-2"
                  style="background-color: red"
                  ><i class="bi bi-heartbreak"></i
                ></a>
                <a href="#" class="btn btn-primary"
                  ><i class="bi bi-cart"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
